{% extends 'customer/base.html.twig' %}

{% block title %}D&MStore{% endblock %}

{% block body %}
    <div class="container-fluid">

        <div class="col-12 d-center">             
            <form method="post" class="col-sm-10 col-md-9 col-lg-10 cardForm d-center flex-wrap my-5">
                <div class="py-3 col-sm-10 col-md-10 col-lg-10">
                    <h3 class="text-center colortitleBlue">Connectez-vous</h3>
                </div>
                <div class="d-flex flex-column col-sm-10 col-md-9 col-lg-10 my-2">
                    <label for="inputEmail" class="labelStyle">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="p-3 myRounded" autocomplete="email" required autofocus placeholder="exemple@exemple.fr">
                </div>
                <div class="d-flex flex-column col-sm-10 col-md-9 col-lg-10">
                    <label for="inputPassword" class="labelStyle">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="p-3 myRounded" autocomplete="current-password" required placeholder="Votre mot de passe...">
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="d-center align-items-end pt-3">
                    <button class="btnStyle my-5" type="submit">Se connecter</button>
                </div>
            </form>     
        </div>
    </div>
{% endblock %}
