{% extends "customer/base.html.twig" %}

{% block body %}

<section class="container-fluid py-5 contentStyle">
    <div class="row">
        <div class="d-flex justify-content-center align-items-center">
            <div class="col-2">
                <img src="{{ asset('uploads/images/architecture-g31ad81590_640.jpg') }}" alt="" class="aboutImg">
            </div>
            <div class="col-5 d-flex flex-column justify-content-center align-items-center ">
                <div>
                    <h3 class="text-center my-5 colortitleRed text-uppercase">Qui sommes-nous ?</h3>
                </div>
                <div class="cardStyle col-7 py-3">
                    <p class="text m-3">
                        Lorem ipsum dolor sit amet, consectetur elit. 
                        Proin tincidunt rutrum sapien 
                        Morbi laoreet mauris et
                        urna maximus sodales. Fusce fermentum nunc 
                        ac tincidunt egestas. 
                        Proin sit amet erat vel nunc facilisis elementum. 
                        Pellentesque malesuada risus vitae neque . 
                        Sed eu lorem arcu. Nullam convallis eleifend odio.
                    </p>
                </div>
            </div>  
        </div>
    </div>
</section>

<section class="container-fluid py-5 contentStyle">
    <div class="row">
        <div class="d-flex justify-content-center align-items-center">
            <div class="col-5 d-flex flex-column justify-content-center align-items-center ">
                <div>
                    <h3 class="text-center my-5 colortitleRed text-uppercase">Notre equipe</h3>
                </div>
                <div class="cardStyle col-7 py-3">
                    <p class="text m-3">
                        Lorem ipsum dolor sit amet, consectetur elit. 
                        Proin tincidunt rutrum sapien 
                        Morbi laoreet mauris et
                        urna maximus sodales. Fusce fermentum nunc 
                        ac tincidunt egestas. 
                        Proin sit amet erat vel nunc facilisis elementum. 
                        Pellentesque malesuada risus vitae neque . 
                        Sed eu lorem arcu. Nullam convallis eleifend odio.
                    </p>
                </div>
            </div>  
            <div class="col-4 d-flex flex-column">
                <img src="{{ asset('uploads/images/architecture-g31ad81590_640.jpg') }}" alt="" class="aboutImg py-3">
                <img src="{{ asset('uploads/images/architecture-g31ad81590_640.jpg') }}" alt="" class="aboutImg py-3">
                <img src="{{ asset('uploads/images/architecture-g31ad81590_640.jpg') }}" alt="" class="aboutImg py-3">
            </div>
        </div>
    </div>
</section>

{% endblock %}