{% extends "customer/base.html.twig" %}

{% block body %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{ asset('uploads/images/logo.png') }}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{{ asset('uploads/images/Andre-733500-cd282bd15f236a716b8c3a48c192f440.jpg') }}" class="d-block w-100" alt="...">
        </div>
    </div>
</div>
{% endblock %}