{% extends "customer/base.html.twig" %}

{% block body %}
<header class="d-center col-sm-12 col-md-12 col-lg-12">
    <h1 class="titleHeader sectionHome1 border1 col-lg-12 text-center">Bienvenue sur D&Mstore !</h1>
    <div>
        <img class="col-lg-12 imgHeader" src="{{ asset('uploads/images/team.jpg') }}" alt="">
    </div>
    <p class="textHeader sectionHome1 col-lg-6 border3">
    Venez découvrir notre gamme de produits sportifs spécialement dédié au ballon ovale !
    En passant d'une paire de chaussure aux casques, D&M store vous propose une large gamme de produit pour 
    votre sport préféré.
    N'attendez plus.
    </p>
    <p class="border2 col-lg-12 sloganHeader sectionHome1 text-center">Vous êtes votre seule limite !</p>
</header>
{% endblock %}