<nav class="navbar navbar-expand-lg navbar-dark styleUser">
    <div class="container-fluid">
        <div class="col-12">
            <ul class="navbar-nav justify-content-around">
                <li class="nav-item px-3">
                    <a class="colortitle2" href="">Homme</a>
                </li>    
                <li class="nav-item px-3">
                    <a class="colortitle2" href="">Femme</a>
                </li>    
                <li class="nav-item px-3">
                    <a class="colortitle2" href="#">Entraineur</a>
                </li>
                <div>
                    <img src="" alt="">
                </div>    
                <li class="nav-item px-3">
                    <a class="colortitle2" href="#">A propos</a>
                </li>    
                <li class="nav-item px-3">
                    <a class="colortitle2" href="#">Contact</a>
                </li>    
                <li class="nav-item px-3">
                    <a class="colortitle2" href="">Login</a>
                </li>    
            </ul>            
        </div>
    </div>
</nav>