.fas
{
    color: var(--colorred);
}
.fasBlue
{
    color: var(--colorblue);
}
.btnBlue
{
    background-color: var(--colorblue);
    color: var(--colorbg);
}

.btnRed{
    background-color: var(--colorred);
    color: var(--colorbg);
}

.fasWhite
{
    color: var(--colorbg);
}

.fab
{
    color: var(--colorblue);
}

.fa-shopping-cart, .fa-solid, .fa-plus
{
    font-size: 5vh;
}
/* logo footer */
.logoInsta, .logoFb, .logoTwitter, .logoYoutube
{
    max-height: 5vh;
    padding: 0 1.5vh;
}
