/* ============================ 991px ============================ */

@media screen and (max-width: 991px) 
{
   .wrap {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       flex-wrap: wrap;
       padding: 10px;
   }
   
   .column {
       flex-direction: column;
   }

}

/* ============================ 768px ============================ */

@media only screen and (min-width: 768px) 
{
    .logo 
    {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .burger
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navlist
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;
    } 

    .navPad {
        margin: 1.5vh 0;
    }

}

/* ============================ 576px ============================ */

@media screen and (min-width: 576px) 
{
    .navlist
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }  
    
    .logo 
    {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .burger
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

@media screen and (max-width: 576px) 
{
    .burger
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;
        margin: 10px;
    }

    .cardForm {
        max-width: 80%;
        margin: 5vh;
        padding: 10vh;
    }

    .textArea, .form {
        width: 90%;
    }

    .column {
        flex-direction: column;
    }

    .navPad {
        margin: 1.5vh 0;
    }

    .titleSize {
        font-size: 6vh !important;
    }
    .sloganSize {
        font-size: 6vh !important;
    }
    .textSize {
        font-size: 3vh !important;
        width: 80%;
    }

}

