/* ============================ 991px ============================ */

/* ============================ 768px ============================ */

@media only screen and (min-width: 768px) 
{
    .logo 
    {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .burger
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navlist
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navPad {
        margin: 1.5vh 0;
    }

    

}

/* ============================ 576px ============================ */

@media screen and (min-width: 576px) 
{
    .navlist
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }  
    
    .logo 
    {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .burger
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

@media screen and (max-width: 576px) 
{
    .burger
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .btnStyle {
        padding: 3vh 5vh !important;
    }

    .cardForm {
        max-width: 80%;
        margin: 5vh;
        padding: 5vh;
    }

    .textArea, .form {
        width: 90%;
    }

    .navPad {
        margin: 1.5vh 0;
    }

    .titleSize {
        font-size: 6vh !important;
    }
    .textSize {
        font-size: 3vh !important;
    }

    .sloganSize {
        font-size: 4vh !important;
    }
}

