/* ============================ 991px ============================ */

@media screen and (max-width: 991px) 
{
   .wrap {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       flex-wrap: wrap;
       padding: 10px;
   }    
}

/* ============================ 768px ============================ */

@media only screen and (min-width: 768px) 
{
    .logo 
    {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .burger
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navlist
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;
    } 
}

/* ============================ 576px ============================ */

@media screen and (min-width: 576px) 
{
    .navlist
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }  
    
    .logo 
    {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .burger
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
}

@media screen and (max-width: 576px) 
{
    .burger
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;
        margin: 10px;
    }

    .cardForm {
        margin: 5vh;
        margin-bottom: 5vh;
        padding: 10vh;
    }

}