:root{
    --colorblue: #111173;
    --colorred: #bb2126;
    --colorbg: #f8f8f8;
    --colorbtnAdmin: rgba(22, 21, 21, 0.883);
    --navbarAdmin: rgba(22, 21, 21, 0.883);
    --title: "Orbitron", serif;
    --text: "Open Sans", serif;
}