:root{
    --colorblue: #111173;
    --colorred: #bb2126;
    --colorbg: #f8f8f8;
    --navbarAdmin: rgba(22, 21, 21, 0.883);
    --navbarUser: #f8f8f8;
    --title: Orbitron;
    --text: Open Sans;
}