@import url(root.css);

body
{
    background-color: var(--colorbg);
}

.styleAdmin
{
    height: 15vh;
    background-color: var(--navbarAdmin);
    
}
.styleUser
{
    height: 15vh;
    background-color: var(--colorbg);
    position: fixed;
}



.colortitleRed
{
    text-decoration: none;
    font-family: var(--title);
    color: var(--colorred);
    font-weight: normal;
}
.colorAdmin
{
    text-decoration: none;
    font-family: var(--title);
    color: var(--colorbg);
    font-weight: bold;
}
.colortitleBlue
{
    text-decoration: none;
    font-family: var(--title);
    color: var(--colorblue);
    font-weight: bold;
}

.cardStyle
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vh;

}

.cardStyle h3
{
    font-size: 4vh;
    font-weight: normal;
}


.cardForm
{
    box-shadow: 0px 0px 22px 9px rgb(233, 233, 233);
    background-color: #ffff;
    border-radius: 20%;
    margin-left: 5vh;
    padding-bottom: 5vh;
    height: auto;
    
}
.cardFormMain
{
    box-shadow: 0px 0px 22px 9px rgb(233, 233, 233);
    border-radius: 20%;
    margin-left: 5vh;
    padding-bottom: 5vh;
    height: auto; 
    
}

.myRounded
{
    border-radius: 50rem;
    border:solid 1px #111173;
}

.myTextArea
{
    border-radius: 5vh;
    border:solid 1px #111173;  
}

.btnStyle
{
    margin-top: 3vh;
    padding: 2vh 10vh;
    border-radius: 5vh;
    border: transparent;
    color: var(--colorbg);
    background-color: var(--colorred);
    font-family: var(--title);
    font-weight: 500;
}

.labelStyle
{
    margin: 2vh;
    font-family: var(--title);
    color: var(--colorblue);
    font-size: 1.5vh;
    font-weight: 500;
}

.coucou
{
    border-right: 2px solid #0000;
    display: inline-block;
    height: auto;
    width: 1px;
}

.contentStyle
{
    background-color: var(--colorbg);
}

.aboutImg
{
    border-radius: 50%;
    width: 30vh;
}

.text
{
    font-family: var(--text);
}

.fas
{
    color: var(--colorred);
    font-size: 20px;
}

.fa-shopping-cart
{
    font-size: 5vh;
}