@import url(root.css);
@import url(media.css);

* {
    margin: 0;
    border: none;
    padding: 0;
}

.styleAdmin
{
    height: 15vh;
    background-color: var(--navbarAdmin);
    
}

.styleUser
{
    background-color: var(--colorbg);
    border-bottom: blue solid 1px;
}

.colortitleRed
{
    text-decoration: none;
    font-family: var(--title);
    color: var(--colorred);
    font-weight: normal;
}
.colorAdmin
{
    text-decoration: none;
    font-family: var(--title);
    color: var(--colorbg);
    font-weight: bold;
}
.colortitleBlue
{
    text-decoration: none;
    font-family: var(--title);
    color: var(--colorblue);
    font-weight: bold;
}

.cardStyle
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vh;

}

.cardStyle h3
{
    font-size: 4vh;
    font-weight: normal;
}


.cardForm
{
    box-shadow: 0px 0px 22px 9px rgb(233, 233, 233);
    background-color: #ffff;
    border-radius: 20%;
    margin-left: 5vh;
    padding-bottom: 5vh;
    height: auto;
    
}
.cardFormMain
{
    box-shadow: 0px 0px 22px 9px rgb(233, 233, 233);
    border-radius: 20%;
    margin-left: 5vh;
    padding-bottom: 5vh;
    height: auto; 
    
}

.myRounded
{
    border-radius: 50rem;
    border:solid 1px #111173;
}

.myTextArea
{
    border-radius: 5vh;
    border:solid 1px #111173;  
}

.btnStyle
{
    margin-top: 3vh;
    padding: 2vh 10vh;
    border-radius: 5vh;
    border: transparent;
    color: var(--colorbg);
    background-color: var(--colorred);
    font-family: var(--title);
    font-weight: 500;
}
.btnAdmin
{
    padding: 2vh 10vh;
    border-radius: 5vh;
    border: transparent;
    color: var(--colorbg);
    background-color: var(--colorbtnAdmin);
    font-family: var(--title);
    font-weight: 500;
}

.labelStyle
{
    margin: 2vh;
    font-family: var(--title);
    color: var(--colorblue);
    font-size: 1.5vh;
    font-weight: 500;
}

.coucou
{
    border-right: 2px solid #0000;
    display: inline-block;
    height: auto;
    width: 1px;
}

.contentStyle
{
    background-color: var(--colorbg);
}

.aboutImg
{
    border-radius: 50%;
    width: 30vh;
}

.text
{
    font-family: var(--text);
}

.fas
{
    color: var(--colorred);
}
.fab
{
    color: rgb(0, 183, 255);
}

.fa-shopping-cart
{
    font-size: 3vh;
}

.footer
{
    height: 100px;
}
.footerStyle
{
    color: var(--colorblue);
    font-size: 1.5vh;
    font-weight: 500;
}

.pucelist
{
    list-style-type: none;
}

.stylelist
{
    text-decoration: none;
    font-family: var(--title);
}

.hr
{
    color: var(--colorred);
    
}

.nav-item, .dropdownList
{
    padding: 1.5vw;
}

.burger 
{
    color: var(--colorblue);
}

.custom-toggler .navbar-toggler-icon 
{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(17,17,115)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.custom-toggler.navbar-toggler
{
    border-color: var(--colorblue);
} 

.border1 {
    border: red solid 2px;
}
.border2 {
    border: green solid 2px;
}
.border3 {
    border: blue solid 2px;
}
.border4 {
    border: orange solid 2px;
}